{% extends "AdminLayout.html" %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
  {{ super() }}
  {% endblock %}
</head>
<body>
  {% block navbar %}
  {{ super() }}
<br>
<br>
<div align="center">
  <h1>Kapci Ticketing System</h1>
</div>
<br>
<br>



<h2> Are you sure you want to delete  User Named : {{user.name}}? </h2>


<form action="#" method = 'post'>

	<input type='submit', value = 'Delete'>	
	</form>
	
	<button id="Cancel" >Cancel</button>
        <script type="text/javascript">
            document.getElementById("Cancel").onclick = function () {
                location.href = "{{url_for('UserModifier')}}";
            };
        </script>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
            <!-- Do something with the message -->
            {{ messages[0] }}

    {% endif %}
    {% endwith %}
    {% endblock %}
  </body>
  </html>