{% extends "AdminLayout.html" %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
  {{ super() }}
  {% endblock %}
</head>
<body>
  {% block navbar %}
  {{ super() }}
<br>
<br>
<div align="center">
  <h1>Kapci Ticketing System</h1>
</div>
<br>
<br>


</script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            <!-- Do something with the message -->
            {{ messages[0] }}

    {% endif %}
    {% endwith %}
    <br>
        </div>
        <div style="margin-left: 20px;">
          <h1 class="page-header">Edit User- Admin Mode</h1>
          <form class="form-inline" method="POST">
            <div class="form-group">

            <label for="Name">User Name : </label>
            <input name="Name" value= "{{ UserData.name }}" >
            </div>
            <div class="form-group">

            <label for="Password">User Password : </label>
            <input name="Password" type="password" value= "{{ UserData.Password }}" >
         </div>
         <div class="form-group">

            <label for="Department">User Department : </label>
            <select name="Department" id="Department" >
              {% for item in Dept %}
              <option value="{{ item.id }}" {%if item.id==UserData.dept_id%} selected {% endif%}>{{item.Dept_name}}</option>
              {% endfor %}
              </select>
          </div>
          <div class="form-group">

            <label for="ip">User IP : </label>
            <input name="ip" value= "{{ UserData.ip }}" >
            </div>
            <div class="form-group">

              <label for="Device">Device Specs : </label>
              <input name="Device" value= "{{ UserData.Device_Specs }}" >
              </div>
            <br>
            <br>
            <br>
                        <br>
            <br>
            <br>
            <input type="submit">
        </form>
        <br>
        <button id="Delete" >Delete</button>
        <script type="text/javascript">
            document.getElementById("Delete").onclick = function () {
                location.href = "{{url_for('DeleteUserAdmin', User_ID = UserData.id)}}";
            };
        </script>
        <br>
        <br>
        <button id="Cancel" >Cancel</button>
        <script type="text/javascript">
            document.getElementById("Cancel").onclick = function () {
                location.href = "{{url_for('UserModifier')}}";
            };
        </script>
        </div>
        {% endblock %}
      </body>
      </html>