{% extends "AdminLayout.html" %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
  {{ super() }}
  {% endblock %}
</head>
<body>
  {% block navbar %}
  {{ super() }}
<br>
<br>
<div align="center">
  <h1>Kapci Ticketing System</h1>
</div>
<br>
<br>
</div>
<div style="margin-left: 20px;">
  <h1 class="page-header">Register New User- Admin Mode</h1>
  <form class="form-inline" method="POST">
    <div class="form-group">
    <label for="Name" style="margin-right: 35px;"> User Name : </label>
    <input name="Name" >
  </div>
  <div class="form-group">
    <label for="Password" style="margin-right: 9px;">User Password : </label>
    <input name="Password" type="password" >
  </div>
  <div class="form-group">
    <label for="Department">User Department : </label>
    <select name="Department" id="Department" >
      {% for item in Dept %}
      <option value="{{ item.id }}">{{item.Dept_name}}</option>
      {% endfor %}
      </select>
  </div>
  <div class="form-group">
    <label for="ip" style="margin-right: 35px;"> User IP : </label>
    <input name="ip" >
  </div>
    <br>
    <br>

    <input type="submit" class=" form-group btn btn-default">
</div>

</form>
<br>
{% endblock %}
</body>
</html>